80:HTTP:Web interfaces, local web servers
22:SSH:Linux, Raspberry Pi, macOS, servers
23:Telnet:Old firmware, ESP32
139:NetBIOS:Windows shares
443:HTTPS:Web interfaces, local web servers with SSL
445:SMB:Windows, NAS
515:LPD:Printers
548:AFP:macOS, Time Machine
554:RTSP:IP cameras
631:IPP:Printers, CUPS
1234:GDB:ESP, firmware
3389:RDP:Windows
5000:HTTP:Raspberry Pi with OctoPrint
5432:HTTP:PostgreSQL
5900:VNC:Remote desktop
8080:HTTP:Embedded panels, ESP, routers
8888:HTTP:Printers, cameras, lights
9100:JetDirect:HP printers
